h1 {
    color: rgb(28, 136, 57);
    text-align: center;
}

.section-form {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 30px 30px;
    margin-top: 150px;
    /*primer parametro (100px) pone margen en la parte arriba y abajo, y el segundo parametro (0) pone margen a los lados
    margin: 100px 0;
    */ 
}
.section-form form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 50vw;   
}
















