*, *:after, *:before {     
  margin: 0;     
  padding: 0;     
  box-sizing: border-box;     
  text-decoration: none; 
}

body{
  font-size: 100%;     
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

html {
  height: 100%;
  width: 100%;    
}
/* Sección de navegación ***********************************************/
.navbar{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 15px 35px;
}

.nav-img-person{
  width: 150px;
}

.navbar-nav{
  width: 80%;
  gap: 5%;
  padding-left: 30px;
}

/* ---------------------------------------------------------------------------------------------- */
.card-content-person{
  margin: 40px;
}

.card-person{
  background-color: rgba(221, 221, 221, 0.788);
  border: none;
}

.card-text-person{
  padding: 80px;
}

.card-img-person{
  position: relative;
  top: 80px;
  left: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.781);
}
/* ---------------------------------------------------------------------------------------------- */

.section-blog-person{
  padding: 0px 100px;
  flex-wrap: wrap;
  gap: 30px;
}

.card-img-top{
  height: 160px;
}
.card-body{
  font-size: 20px;
  font-weight: bold;
}

/* Sección pie de pagina ***********************************************/

.section-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.section-footer-img{
  width: 80px;
}

.section-footer-content{
  border-top: 3px rgb(141, 141, 141) solid;
  width: 80%;
  text-align: center;
  margin-top: 10px;
}

.section-footer-name{
  margin: 2%;
}

.section-footer-email{
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}

.section-footer-project{
  font-size: 50px;
}